.Btn {
  display: inline-block;
  font-family: 'Gotham-Bold';
  font-size: 14px;
  padding: 8px 30px;
  line-height: 1.42;
  cursor: pointer;
}

.Btn,
.Btn:hover,
.Btn:active,
.Btn:visited {
  text-decoration: none;
}

.Btn--default {
  color: #000;
  border: 2px solid #000;
}

.Btn--inverted {
  color: #fff;
  border: 2px solid #fff;
}

.Btn--hero {
  padding: 10px 22px;
  font-size: 18px;
  line-height: 1;
  border-width: 1px;
}

.Btn--add-to-cart {
  display: block;

  width: 100%;
  height: 48px;
  line-height: 24px;
  text-align: center;

  background: black;
  color: white !important;
}

.Btn--black {
  padding: 9px 20px;
  font-size: 1em;
  line-height: 1.6;
  min-width: 90px;
  color: #FFF;
  background-color: #000;
}
